.badge-secondary { /*attendance_registerのstatusのスタイル*/
    background-color: #d3d3d3; /* グレーの背景色 */
    color: #333; /* 文字色 */
    border-radius: 12px; /* 丸みを帯びた角 */
    padding: 5px 10px; /* 内側の余白 */
    font-size: 14px; /* フォントサイズ */
}

#start-break{
    margin-right: 5rem;
}